h1{
    font-family: 'Oswald', sans-serif;
    Font-size :100px;
    Color: #ffff;

}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    Font-size :100px;
    Color: #ffff;
}

h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    Font-size :32px;
    Color:#ffff
}

h4{
    font-family:'Oswald', sans-serif;
    Font-size :150px; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blueviolet;
    font-weight: bold;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    color: white;
  }

.p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    color: white; 
}
.subtittle{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: lighter;
    Font-size:17px;
    letter-spacing:0.13EM;
}
.sub2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:left;
    font-weight: lighter;
    Font-size:17px;
    letter-spacing: 0.13em;
}

h5{
    font-family:'Oswald', sans-serif  ;
    text-align: center;
    color:#ffff;
}
h6{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align: center;
    color:#ffff;
}

body{
    background-color:black;
    margin: 0;
}
   
.section1{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;

}
.section2{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section3 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
}
.section4{
    display:flex;

    justify-content: center;
    align-items: center;}

.section5{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        padding: 100px;
}
.section6{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}



.col{
  display: flex;
  flex-direction: column;
}
.col1{
    display: flex;
  flex-direction: column;
}

.landing-page{
  display: flex;
  flex-direction:column;
  height:100vh;

}

.row1{
  display:flex;
  flex-direction:row;
}
.row2{
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  .row3{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
  }

.menu-item{
  padding:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.menu-item2{
    padding:40px;
    line-height: 0px;
  }
  .menu-item3{
    padding:40px;
    line-height: 0px;
    font-family:sans-serif;
    text-align:left;
    font-weight: lighter;
    Font-size:17px;
    letter-spacing: 0.13em;
    color: #9D04E4;
  }

img{
    width: 100%;
    object-fit:contain;
    height:100%;
}














/* CSS RESET BELOW */


  /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}